<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>About Us</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color: #10201C;
			margin:0;
			height:100%;
		}
	</style>

	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=1300" />


	<!-- end copy -->

  </head>
  <body>
	
	<!-- copy these lines to your document: -->

	<div id="aboutus_hype_container" style="margin:auto;position:relative;width:1300px;height:1600px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="http://lampapp.co/static/About%20Us.hyperesources/aboutus_hype_generated_script.js"></script>
	</div>

	<!-- end copy -->


	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>Anatolii Shakhov </div>
		<div>Alex Sorto</div>
		<div>About our project


</div>
		<div>Amir Salah</div>
		<div>We will design a system consisting of several sensors, which capture and send data through SMS text messages periodically, we will analyze this data in our servers, and will compare it with the minimum water standard for human consumption. 


We then will create models based on comparisons of our data with that of NASA, we believe that these measurements, over time, will provide us with observable correlations between satellite data and the contamination levels we will detect with our sensors.

We will also create a sample collection program, were volunteers from interested communities will be able to collaborate by sending water samples from their local sources of drinkable water, which will represent additional data for our studies, a wbsite and a mobile application with a global map will reflect the results of our investigation by providing updated data of all the water sources

The planned mobile application, which will be available for everyone willing to collaborate with our cause, will provide them with a way to do so by collecting the GPS and Date Time information, which in return will grant a reference number, will be used to identify the sample and the water source it came from,this will grant a public source of information on.

</div>
		<div>Aktore Beket</div>
		<div>About us


</div>
		<div>Chu Hoang Son</div>
		<div>Damir Mustafin</div>
		<div></div>

	</div>

	<!-- end text content: -->

  </body>
</html>
